<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.script.TestClassSignup"/>
      <class name="com.script.InvalidTestClass"/>
      <class name="com.script.TrainerTestclass"/>
      <class name="com.script.BlankPasswordTestClass"/>
      <class name="com.script.ValidTestClass"/>
      <class name="com.script.BlankEmailTestClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
